*{
    margin: 1px;
    padding: 0px;
    font-size:20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
#titulo{
    font-size: 25px;
}
div#general{
    margin: auto;
    margin-top: 20px;
    width: 1500px;
    height: 700px;
    border: 1px solid black;
}
table{
    border-spacing: 10px;
}
div#l1{
    display: inline-block;
    width: 450px;
    height: 660px;
    border: black 1px solid;
}
.contenido{
    width: 400px;
    height: 100px;
    border: black 1px solid;
}
.contenido0{
    width: 400px;
    height: 50px;
    border: black 1px solid;
}
.contenido1{
    width: 400px;
    height: 150px;
    border: black 1px solid;
}
.letra{
    width: 35px;
    height: 35px;
}

#ayudar{
    width: 100px;
    height: 50px;
}
div#l2{
    display: inline-block;
    width: 1000px;
    height: 660px;
    border: black 1px solid;
}
.espacio{
    width:50px;
    height: 50px;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-bottom: black 1px solid;
}
.casilla2{
    width: 950px;
    height: 150px;
    border: black 1px solid;
}
#lienzo{
    border: 1px solid black;
}
.pantalla{
    display:block;
    margin: 0 auto;
    padding: 20px;
    background-color:olivedrab;
    width:1000px;
    height: 500px;
    border-radius: 25px;
    border: groove 8px black;
    text-align: center;


}

.pantalla td button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;
    border: groove 4px rgb(0, 0, 0);
   
    

}


#palabra{
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    
    padding: 3px;
    border: solid 2px black;
    
}
#palabra:hover{ 
    background-color: royalblue;
    font-size: 22px;
    border: groove 4px rgb(0, 0, 0);
}


#resultado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 70px;
    height: 70px;
    background-color: white;
  
    
}
